*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Racing Sans One";
  font-style: normal;
  font-weight: normal;
  src: local("Racing Sans One"),
    url("Fonts/racing-sans-one/RacingSansOne-Regular.woff") format("woff");
}

:root {
  --color-primary: #192125;
  --color-primary-light: #4f5b62;
  --color-primary-dark: #000a12;
  --color-secondary: #f5f5f5;
  --color-accent: #fdd835;

  --font-family-body: "Poppins", sans-serif;
  --font-family-style: "Racing Sans One", sans-serif;

  --fs-body: 1.5rem;
  --fs-button: 1.25rem;
  --fs-title: 2rem;

  --fw-body: 400;
  --fw-heading: 400;

  --border-width: 2px;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  font-family: var(--font-family-body);
  overflow-x: hidden;
}

.hero {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  padding: 3em 4em 2em 4em;
}

.hero-heading {
  text-align: center;
  font-family: var(--font-family-style);
  font-weight: var(--fw-heading);
  font-size: calc(var(--fs-title) * 2);
  color: var(--color-accent);
  margin-bottom: 1em;
}

.animate-hero-heading {
  background: linear-gradient(
    to right,
    var(--color-accent) 0%,
    var(--color-accent) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-hero-heading:hover {
  transition: all 0.5s;
  letter-spacing: 0.5rem;
  background: linear-gradient(
    to left,
    var(--color-accent) 0%,
    var(--color-secondary) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* //////////-------Navigation--------////////// */

.menu {
  background-color: transparent;
  top: 2em;
  right: 2em;
  width: 2.5em;
  border: none;
  aspect-ratio: 1;
  position: fixed;
  z-index: 9999;
  display: none;
}

.menu-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-style: none;
}

.menu-btn--close {
  display: none;
}

.menu-btn--open {
  display: block;
}

.btn-svg {
  width: 100%;
  height: 100%;
  fill: var(--color-accent);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-out;
}

.nav-container[target="false"] {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 0 0.5em 0;
  background-color: var(--color-primary);
  z-index: 1000;
}

.nav-container[target="true"] {
  position: fixed;
  z-index: 899;
  transform: translateX(0%);
  background-color: rgba(20, 28, 31, 0.7);
  width: 60%;
  height: 100vh;
  padding-top: min(2vh, 3em);
  padding-right: 2em;
  padding-left: 2em;
  right: 0;
}

.nav-container ul {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.nav-container li {
  list-style: none;
  --color: var(--color-accent);
  transition: all 0.2s;
}

.nav-container a {
  color: var(--color);
  font-size: 14px;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-container li:hover {
  transform: translateY(10%);
  border-bottom: solid 1px var(--color-accent);
  padding-bottom: 2px;
}

.nav-container li:hover:nth-child(1) {
  transform: translateY(10%);
  border-left: solid 1px var(--color-accent);
  border-bottom: 0;
  padding-left: 2px;
}

.nav-container li:hover:last-child {
  transform: translateY(10%);
  border-right: solid 1px var(--color-accent);
  border-bottom: 0;
  padding-right: 2px;
}

/* //////////////------Content--------//////// */
.content {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 0 2em 0em;
}

.content-heading {
  font-family: var(--font-family-style);
  letter-spacing: 1rem;
  font-size: calc(var(--fs-title) * 1.2);
  color: var(--color-primary-light);
  margin-bottom: 2em;
}

.content-details {
  display: flex;
  justify-content: center;
  gap: 2px;
  width: 50%;
  margin-bottom: 10em;
}

.stair {
  align-self: stretch;
  width: 2rem;
  background-color: var(--color-accent);
  min-height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stair p {
  transform: rotateZ(-90deg);
  font-family: var(--font-family-style);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: var(--fs-body);
}

.list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}
.list-item {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in;
}

.list-item:hover {
  transform: translateX(2%);
}

.list-item--number {
  padding: 0.5em 1em;
  min-width: 80px;
  text-align: right;
}

.list-item--number p {
  font-family: var(--font-family-style);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: calc(var(--fs-body) * 0.8);
  color: var(--color-accent);
}

.list-item--title {
  background-color: var(--color-accent);
  padding: 0.5em 1em;
  width: 100%;
  cursor: pointer;
}

.list-item--title p {
  font-family: var(--font-family-body);
  font-weight: 400;
  font-size: calc(var(--fs-body) * 0.8);
}

/* ///////////-------Footer--------////////////// */
.footer-container {
  position: relative;
  font-family: var(--font-family-body);
  padding: 5em;
  background-color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  letter-spacing: 1.2px;
}

.image-holder {
  top: 0;
  transform: translateY(-50%);
  position: absolute;
  background-image: url(Img/Author-image.jpg);
  background-position: center;
  background-size: cover;
  width: 10em;
  height: 10em;
  border: solid 0.8em var(--color-primary-dark);
  border-radius: 100%;
}

.name {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 700;
  cursor: pointer;
}

/* //////////------Component--------//////// */
.bg-normal {
  --bg: var(--color-primary-light);
  --color: var(--color-secondary);
}

.bg-accent {
  --bg: var(--color-accent);
  --color: var(--color-primary);
}

.btn {
  position: relative;
  border-style: none;
  text-transform: uppercase;
  font-family: var(--font-family-body);
  font-size: var(--fs-button);
  padding: 0.5em 2em;
  background-color: var(--bg);
}

.btn::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0.2em;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg);
  transition: width 0.2s;
}

.btn:hover::after {
  width: 30%;
}

.btn:active::after {
  width: 100%;
}

.btn a {
  text-decoration: none;
  color: var(--color);
  font-weight: 700;
  letter-spacing: 1.2px;
}
/* ----------------------------------------------------------- */

/* /////////////---------Media Query------///////// */

@media (max-width: 900px) {
  .content-details {
    width: 80%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 0.6rem;
  }
  .list-item--number {
    min-width: 45px;
  }

  .menu {
    display: block;
  }

  .nav-container ul {
    /* background-color: red; */
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .nav-container[target="false"] {
    transform: translateX(100%);
    background-color: rgba(25, 33, 37, 0.7);
    width: 60%;
    height: 100vh;
    padding-top: min(2vh, 3em);
    padding-right: 2em;
    padding-left: 2em;
    right: 0;
  }

  @supports (backdrop-filter: blur(20px)) {
    .nav-container {
      backdrop-filter: blur(10px);
    }
  }

  .nav-container li:hover:nth-child(n) {
    transform: translateY(10%);
    border-left: solid 1px var(--color-accent);
    border-right: 0;
    border-bottom: 0;
    padding: 0 0 0 2px;
  }
}

/* ///////-----Extra------/////// */
::selection {
  background-color: var(--color-primary);
  color: var(--color-accent);
}
